<html ng-app="chatApp">

<head>
<title>Intranet Chat</title>
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js"></script>

<script src="js/ng-file-upload-shim.min.js"></script>
<script src="js/ng-file-upload.min.js"></script>


<style type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></style>

<link href="/css/bootstrap.css" rel="stylesheet" />
<link href="/css/chat.css" rel="stylesheet" />

<!-- Custom scripts and styles -->
<script src="js/chat.js"></script>

</head>

<body ng-controller="ChatController">

	<div class="col-md-8">
		<div class="panel panel-info">
			<div class="panel-heading">RECENT CHAT HISTORY
			<span style="float: right">
			<select ng-model="room" ng-change="getMessages()">
				<option ng-repeat="option in rooms" value="{{option.id}}">{{option.name}}</option>
			</select>
			</span></div>
			
			<div class="panel-body">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="message" placeholder="Enter Message" ng-keyup="$event.keyCode == 13 ? submitMessage() : null"/>
					<span class="btn btn-default btn-file">
					    Upload File <input type="file" ngf-select="submitMessage(file)" name="file" ng-model="file" ngf-max-size="20MB" ngf-pattern="'image/*'" />
					</span>
					<span class="input-group-btn">
						<button class="btn btn-info" type="button" ng-click="submitMessage()">SEND</button>
					</span>
					<br/>
				</div>
				<ul class="media-list">
					<li class="media" ng-repeat="message in messages">

						<div class="media-body">

							<div class="media">
								<div class="media-body">
									{{ message.message }} <br /> <small
										class="text-muted">{{ message.account.username }} | {{ message.date | date:'yyyy-MM-dd HH:mm:ss Z'}} </small>
									<hr />
								</div>
							</div>

						</div>
					</li>

				</ul>
			</div>
			<div class="panel-footer">
			<span class="text-muted">Java Chat was built by Dave Rudder for Livecoding.tv</span>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">ONLINE USERS</div>
			<div class="panel-body">
				<ul class="media-list">

					<li class="media" ng-repeat="latestAccountMessage in latestAccountMessages">

						<div class="media-body">

							<div class="media">
								<div class="media-body">
									<h5>{{ latestAccountMessage.account.username}}</h5>
									<small>{{ latestAccountMessage.message }}</small><br/>
									<small class="text-muted">In <em>{{ latestAccountMessage.room.name }}</em></small><br/>
									<small class="text-muted">Sent {{ latestAccountMessage.date | date:'yyyy-MM-dd HH:mm:ss Z'}} </small>
								</div>
							</div>

						</div>
					</li>

				</ul>
			</div>
		</div>

	</div>
</body>
</html>